body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
  margin: 0;
  padding: 0;
}

.header {
  background: #1e293b;
  color: white;
  padding: 20px;
  text-align: center;
}

.header.admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 4px;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 6px;
}

input, select {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.table-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

a {
  margin-right: 8px;
  color: #2563eb;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.empty-msg {
  text-align: center;
  color: gray;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #2563eb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}.delete-btn {
  background: #e53935;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background: #c62828;
}

/* body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.password-box {
  position: relative;
}

.password-box input {
  padding-right: 35px;
}

.eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
} */
